<div class="BadsanierungContainer">
    <div class="row justify-content-center">
        <div class="col col-12 Aufmaßbadsanierung">
            <center>
                <p style="color: rgb(255, 40, 122)">Der erste Schritt</p>
                <p style="font-size: 20px; margin-top: -20px">Wir nehmen Ihr „altes“ Bad unter die Lupe</p>
                <tr></tr>
            </center>

        </div>

    </div>
</div>
<center id="Ausfuerungtext" style="margin-top: 10px">
        <p><span style="color: #ffffff;"><span style="font-size: 14pt;">Bekanntlich sind die Zeiten l&auml;ngst vorbei, wo man im Bad nur so viel Zeit wie unbedingt n&ouml;tig verbringen wollte.</span><span style="font-size: 14pt;">Heutzutage sind Badezimmer unverzichtbar in den Lebensrhythmus eingebunden.</span></span></p>
        <p><span style="color: #ffffff;"><span style="font-size: 14pt;">Wenn Sie sich entschlossen haben aus Ihrem bisherigen Bad eine &bdquo;Wohlf&uuml;hloase&ldquo; zu machen, vereinbaren Sie ein Treffen mit einem unserer &bdquo;Badexperten&ldquo; vor Ort. </span><span style="font-size: 14pt;">Der Raum wird exakt vermessen, die Lage, der Zustand und die Brauchbarkeit der vorhandenen Kalt-, Warmwasser- und Abflussleitungen gepr&uuml;ft.</span></span></p>
        <p><span style="font-size: 14pt; color: #ffffff;">Ihre W&uuml;nsche an die Badgestaltung werden hinsichtlich Machbarkeit und Kosten ausf&uuml;hrlich besprochen. Selbstverst&auml;ndlich werden Ihnen von unseren Mitarbeitern auch weitere Gestaltungsvorschl&auml;ge unterbreitet.</span></p>
        <p><span style="font-size: 14pt; color: #ffffff;">Dieser erste Schritt ist deshalb sinnvoll, weil wir Ihre W&uuml;nsche und Vorstellungen nur so exakt in einem bindenden Kostenvoranschlag erfassen k&ouml;nnen. </span></p>
    <p></p>
</center>

<style>

    .Aufmaßbadsanierung{

        font-size: 35px;


    }

</style>

<script>

</script>