<div class="PlanungContainer">
    <div class="row justify-content-center">
        <div class="col col-12 Ausfuerung">
            <center>
                <p>3. Professionelle Bauausführung</p>
            </center>

        </div>

    </div>
</div>
<center id="Ausfuerungtext" style="margin-top: 10px">
        <p><span style="font-size: 14pt;">In nur wenigen Berufen hat in den letzten Jahren die technische Entwicklung so rasante Fortschritte gemacht, wie in der Haustechnik. Und im Hinblick auf die viel zitierte Digitalisierung d&uuml;rfte dies erst der Anfang sein.</span></p>
        <p><span style="font-size: 14.0pt;">Aber das Wichtigste ist und bleibt doch immer der Mensch, der diese Aufgaben bew&auml;ltigen kann. Unsere Fachkr&auml;fte wachsen mit dieser Entwicklung, unterst&uuml;tzt durch konsequente Fortbildung. Es ist also schon wichtig, welcher Firma Sie die Installation Ihrer Haustechnik anvertrauen.</span></p>
        <p><span style="font-size: 14.0pt;">Die Firma Buchfink gibt es nun schon seit fast 120 Jahren. Einer unserer Kunden hat gesagt: &bdquo;Wer so viele Jahre &uuml;berstanden hat, der muss einfach gut sein.&ldquo; Und diese Leistungsf&auml;higkeit stellen wir Tag f&uuml;r Tag neu unter Beweis.</span></p>
        <p><span style="font-size: 14.0pt;">Geschulte Monteure, regelm&auml;&szlig;ige Bau&uuml;berwachung durch Meister oder Techniker, kurzum eine perfekte Arbeit &ndash; das wollen und k&ouml;nnen wir Ihnen bieten.</span></p>
</center>

<style>

    .Ausfuerung{

        font-size: 35px;


    }

</style>

<script>

</script>