<div class="BaubegleitungContainer">
    <div class="row justify-content-center">
        <div class="col col-12 BauBegleitungBadsanierung">
            <center>
                    <p style="color: rgb(255, 40, 122)">Schritt Nummer vier – es geht los</p>
                    <p style="font-size: 20px; margin-top: -20px">Dank unserer Erfahrung können Sie ruhig schlafen</p>
                   
            </center>

        </div>

    </div>
</div>
<center id="Ausfuerungtext" style="margin-top: 10px">
        <p><span style="font-size: 14pt;">Sie brauchen keine Angst vor Staub und Schmutz zu haben. Wir sch&uuml;tzen die B&ouml;den, Kleben die T&uuml;ren ab und bringen einen gro&szlig;en Staubsauger mit.&nbsp;</span><span style="font-size: 14.0pt;">Der Monteur wird durch unseren erfahrenen Meister eingewiesen. Dieser k&uuml;mmert sich t&auml;glich um die &bdquo;Baustelle&ldquo; und sorgt zuverl&auml;ssig f&uuml;r die Koordination mit den anderen Gewerken.</span></p>
        <p><span style="font-size: 14.0pt;">Bei einer Badsanierung ist es mit am Wichtigsten, dass der Arbeitsablauf gut geplant ist. Nach der Rohmontage sind Maurer-, Verputz- und Elektroarbeiten erforderlich, danach kommt der Fliesenleger, anschlie&szlig;end sind die Malerarbeiten an der Reihe und als Kr&ouml;nung kommt dann die Montage der Sanit&auml;ren Einrichtungs- und Ausstattungs-Gegenst&auml;nde. Es geh&ouml;rt zu unseren Aufgaben, hier f&uuml;r einen reibungslosen Ablauf zu sorgen.</span></p>
        <p><span style="font-size: 14.0pt;">Wenn Sie es w&uuml;nschen, k&uuml;mmern wir uns auch um die Endreinigung.</span></p>
</center>

<style>

    .BauBegleitungBadsanierung{

        font-size: 35px;


    }

</style>

<script>

</script>