<div class="BemusterungContainer">
    <div class="row justify-content-center">
        <div class="col col-12 Aufmaßbadsanierung">
            <center>
                <p style="color: rgb(255, 40, 122)">Der Schritt Nummer zwei</p>
                <p style="font-size: 20px; margin-top: -20px">Persönliche Beratung und Bemusterung in unserer <strong style="color: rgb(255, 40, 122)"> 4 Sterne**** </strong> Badausstellung</p>
               
            </center>

        </div>

    </div>
</div>
<center id="Ausfuerungtext" style="margin-top: 10px">
        <p><span style="font-size: 14pt;">Unsere Badausstellung ist mit einer Fl&auml;che von 100 Quadratmetern nicht un&uuml;berschaubar gro&szlig;, aber daf&uuml;r immer auf einen aktuellen Stand. Genau deshalb werden wir vom Zentralverband Sanit&auml;r-Heizung-Klima seit dem Jahr 2007 als 4-Sterne-B&auml;derhaus eingestuft.</span></p>
        <p><span style="font-size: 14.0pt;">K&ouml;nnen Sie sich vorstellen in einer tollen Badewanne, wenn Sie wollen auch zu Zweit, spannende Bundesligaspiele zu erleben und dazu eine sanfte R&uuml;ckenmassage durch den eingebauten Whirlpool zu genie&szlig;en? Oder bei sanfter Musik ganz einfach nur zu entspannen. Das in die Wanne eingebaute Soundsystem macht es m&ouml;glich. Oder wie w&auml;re es mit einem R&ouml;mischen Dampfbad?</span></p>
        <p><span style="font-size: 14.0pt;">Neben den aktuellsten Waschtischmodellen und Badezimmerm&ouml;beln zeigen wir Ihnen auch gerne die Revolution auf dem &bdquo;Stillen &Ouml;rtchen&ldquo;, das GEBERIT-Aqua-Clean-WC.</span></p>
        <p><span style="font-size: 14.0pt;">F&uuml;r was Sie sich auch entscheiden, wir k&ouml;nnen es Ihnen sofort in einer hochrealistischen 3-D Planung auf dem Bildschirm zeigen.</span></p>

    <p></p>
</center>

<style>

    .Aufmaßbadsanierung{

        font-size: 35px;


    }

</style>

<script>

</script>