<div class="PoolsContainer">
    <div class="row justify-content-center">
        <div class="col col-12 Pooltext">
            <center>
                <p style="color: rgb(255, 40, 122);">Urlaub im eigenen Zuhause</p>
            </center>

        </div>

    </div>
</div>
<center id="Ausfuerungtext" style="margin-top: 10px">
       
        <ol>
        <li style="text-align: left;color: rgb(255, 40, 122);"><span style="font-size: 14pt; font-family: verdana, geneva;"> Standortwahl:</span></li>
        </ol>
        <p style="text-align: left;"><span style="font-size: 14pt; font-family: verdana, geneva;">Eine ungenutzte Ecke, man kann auch &bdquo;Gammelecke&ldquo; sagen, wurde als am Besten geeigneter Ort gew&auml;hlt.</span></p>
        <ol start="2">
        <li style="text-align: left; color: rgb(255, 40, 122);"><span style="font-size: 14pt; font-family: verdana, geneva;"> Planung</span></li>
        </ol>
        <p style="text-align: left;"><span style="font-size: 14pt; font-family: verdana, geneva;">Die Beckengr&ouml;&szlig;e wurde entsprechend dem zur Verf&uuml;gung stehendem Platz ausgew&auml;hlt. Die Einbringm&ouml;glichkeiten f&uuml;r den Transportbeton wurden festgelegt und auch der Weg wie der Bagger an den Einbauort gelangt lie&szlig; sich kl&auml;ren.</span></p>
        <ol start="3">
        <li style="text-align: left; color: rgb(255, 40, 122);"><span style="font-size: 14pt; font-family: verdana, geneva;"> Erdaushub</span></li>
        </ol>
        <p style="text-align: left;"><span style="font-size: 14pt; font-family: verdana, geneva;">Mit dem Erdaushub beginnt jeder Schwimmbadbau. Die Beckentiefe wird festgelegt und kurzfristig gibt es im Garten beachtliche Erdberge.</span></p>
        <ol start="4">
        <li style="text-align: left; color: rgb(255, 40, 122);"><span style="font-size: 14pt; font-family: verdana, geneva;"> Der Pool nimmt Gestalt an</span></li>
        </ol>
        <p style="text-align: left;"><span style="font-size: 14pt; font-family: verdana, geneva;">Der Desjoyaux-Pool wird aufgestellt und zum Betonieren vorbereitet. Nach dem Einbringen des Transportbetons wird die Beckenumrandung verlegt, der Technikblock mit Jetstream montiert und zu guter Letzt die Folie eingebracht.</span></p>
        <ol start="5">
        <li style="text-align: left; color: rgb(255, 40, 122);"><span style="font-size: 14pt; font-family: verdana, geneva;"> Au&szlig;en herum</span></li>
        </ol>
        <p style="text-align: left;"><span style="font-size: 14pt; font-family: verdana, geneva;">Damit sich der Pool harmonisch in das Bild des &uuml;brigen Gartens einf&uuml;gt, werden wetterfeste Gartenplatten verlegt und die Bepflanzung entsprechend angepasst. In unserem Fall wurde auch noch ein attraktiver Wasserfall gestaltet und eine elegante Gartendusche montiert.</span></p>
        <ol start="6">
        <li style="text-align: left; color: rgb(255, 40, 122);"><span style="font-size: 14.0pt; font-family: 'Times New Roman';"> Bauzeit</span></li>
        </ol>
        <p style="text-align: left;"><span style="font-size: 14pt; font-family: verdana, geneva;">Begonnen haben wir im Februar und Mitte April konnte der Badespa&szlig; schon beginnen.</span></p>
        <ol start="7">
        <li style="text-align: left; color: rgb(255, 40, 122);"><span style="font-size: 14pt; font-family: verdana, geneva;"> N&auml;heres zum Desjoyaux-Pool</span></li>
        </ol>
        <p style="text-align: left;"><span style="font-size: 14pt; font-family: verdana, geneva;">Desjoyaux ist eine franz&ouml;sische Firma und bei &bdquo;outdor &ndash; pools&ldquo; die Nummer 1 in Europa. Der Pool wird aus einzelnen Elementen an Ort und Stelle zusammengesetzt, damit ist jede Gr&ouml;&szlig;e und Form m&ouml;glich. Diese Elemente werden mit Beton ausgegossen und erhalten dadurch ihre Stabilit&auml;t. Die Technik ist in einem Block zusammengefasst, der in das Becken eingeh&auml;ngt wird. Es ist kein Schacht und kein zus&auml;tzliches Geb&auml;ude notwendig. F&uuml;r den Beckenrand und die angrenzenden Fl&auml;chen liefert Desjoyaux Platten und Steine aus den verschiedensten Materialien und in vielen Farben.</span></p>
        <p style="text-align: left;"><span style="font-size: 14pt; font-family: verdana, geneva;">Wir haben von Fr&uuml;hjahr bis Herbst einen Musterpool in Betrieb, den wir Ihnen gerne zeigen und erkl&auml;ren k&ouml;nnen. Dabei k&ouml;nnen wir auch &uuml;ber die verschiedenen M&ouml;glichkeiten einer Beheizung sprechen, um die Badezeit damit verl&auml;ngern zu k&ouml;nnen. </span></p>
        <ol start="8">
        <li style="text-align: left; color: rgb(255, 40, 122);"><span style="font-size: 14pt; font-family: verdana, geneva;"> Ist dieser &bdquo;Luxus&ldquo; bezahlbar?</span></li>
        </ol>
        <p style="text-align: left;"><span style="font-size: 14pt; font-family: verdana, geneva;">Alles hat seinen Preis, aber mit ca. 30.000 € sind Sie gut dabei. Daf&uuml;r haben Sie viele Jahre Spa&szlig; und Freude an ihrem Pool, sie tun etwas f&uuml;r Ihre Gesundheit und steigern in hohem Ma&szlig;e ihre Freude am Leben.</span></p>
</center>

<style>

    .Pooltext{

        font-size: 35px;


    }
    
    #Pool1{
        background: url("../BuchfinkWebsite2017/Images/PoolBild.png") center no-repeat;
        background-size: 300px;
        height: 300px;
    }
    #Pool2{
        background: url("../BuchfinkWebsite2017/Images/PoolBild2.png") center no-repeat;
        background-size: 300px;
        height: 300px;
    }
    #Pool3{
        background: url("../BuchfinkWebsite2017/Images/PoolBild3.png") center no-repeat;
        background-size: 200%;
        height: 300px;
        margin-bottom: 10px;
    }

</style>

<script>

</script>