<div class="DezentraleLueftungContainer">
    <div class="row justify-content-center">
        <div class="col col-12 DezentraleLueftung">
            <center>
                <p>Lüftung zur Nachrüstung in Bestandsgebäuden</p>
            </center>

        </div>

    </div>
</div>
<center id="Ausfuerungtext" style="margin-top: -10px">

        
       
      
       
        <br> 
    <ul>
        <p>Sie wollen die Luftqualität in Ihren bestehenden Wohnräumen verbessern?</p>
        <p>Sie wollen Ihr best. Gebäude energetisch sanieren?</p>
        <p> Sie haben ein Schimmelproblem – oft auch in vermietetem Wohnraum! Sie planen eine generelle Sanierung eines Bestandsgebäudes?</p>
        <p> Sie haben neue dichtschließende Fenster bekommen?</p>
    </ul>
    
    </br>

    <p> Auch in bestehenden Gebäuden kann eine kontrollierte Wohnraumlüftung mit Wärmerückgewinnung (WRG) eingebaut werden. 
        Hierzu gibt es kleine Etagengeräte für 3-4 Räume, Einzelgeräte oder auch Deckengeräte. Wir finden eine Lösung
            für Ihre gute Luft.
            Eine kontrollierte Lüftung mit Wärmerückgewinnung in Verbindung mit neuen Fenstern und einer modernen Heizung ist 
            oft kostengünstiger als Styropor auf die Hauswand zu kleben. Zumal diese Maßnahmen auch jeweils einzeln umgesetzt werden können 
            und ebenfalls staatlich gefördert werden.
            </p>
            <p>
            Auch in bestehenden Gebäuden kann eine kontrollierte Wohnraumlüftung mit Wärmerückgewinnung (WRG) eingebaut werden. Hierzu gibt es 
            kleine Etagengeräte für 3-4 Räume, Einzelgeräte oder auch Deckengeräte. Wir finden eine Lösung
            für Ihre gute Luft.</p>
</center>

<style>

    .DezentraleLueftung{

        font-size: 35px;


    }

</style>

<script>

</script>