<div class="SpenglerContainer">
    <div class="row justify-content-center">
        <div class="col col-12 Fassadenbekleidung">
            <center>
                <p style="color: rgb(255, 40, 122);" >Fassadenbekleidung</p>
            </center>

        </div>

    </div>
</div>
<center id="Ausfuerungtext" style="margin-top: 10px">
        <p><span style="font-size: 14pt;">Die weithin verbreiteten W&auml;rmed&auml;mmverbund-Systeme als Fassadenbekleidung haben sich nicht als so langlebig und witterungsbest&auml;ndig wie angenommen, erwiesen.</span></p>
        <p><span style="font-size: 14.0pt;">Deshalb sind Fassadenbekleidungen aus Metall stark gefragt. Wir haben uns von Anfang an damit befasst und eine ganze Anzahl von &ndash; teilweise sehr anspruchsvollen &ndash; Objekten ausgef&uuml;hrt.</span><span style="font-size: 14.0pt;">&nbsp;</span></p>
        <p><span style="font-size: 14.0pt;">Kurz zusammengefasst die Vorteile einer Au&szlig;enwandbekleidung mit Metall:</span></p>
        <ul>
        <li style="margin-left: 36pt;  text-align: left;"><span style="font-size: 14pt;">Sie sch&uuml;tzt Ihr Geb&auml;ude vor Witterungseinfl&uuml;ssen.</span></li>
        <li style="margin-left: 36pt;  text-align: left;"><span style="font-size: 14.0pt;">Die D&auml;mmung, die Unterkonstruktion und die tragenden Au&szlig;enw&auml;nde bleiben trocken.</span></li>
        <li style="margin-left: 36pt;  text-align: left;"><span style="font-size: 14.0pt;">Hitze oder K&auml;lte werden abgehalten.</span></li>
        <li style="margin-left: 36pt; text-align: left;"><span style="font-size: 14.0pt;">Die Materialien &ndash; Aluminium, Stahl oder Verbundplatten &ndash; behalten &uuml;ber viele Jahrzehnte ihre Eigenschaften.</span></li>
        <li style="margin-left: 36pt; text-align: left;"><span style="font-size: 14.0pt;">Die Vielzahl der Gestaltungsm&ouml;glichkeiten ist fast unbegrenzt.</span></li>
        </ul>
        <p><span style="font-size: 14.0pt;">&nbsp;</span></p>
        <p><span style="font-size: 14.0pt;">Wir beraten Sie gerne &uuml;ber die M&ouml;glichkeiten, auch Ihr Objekt mit einer Fassadenbekleidung aus Metall wertvoller und sch&ouml;ner zu machen.&nbsp;</span><span style="font-size: 14.0pt;">Deshalb haben wir f&uuml;r Sie eine Musterausstellung aufgebaut, die wir Ihnen gerne unverbindlich zeigen. Auch eine Besichtigung von bekleideten Fassaden ist kein Problem.</span></p>
        <p><span style="font-size: 14.0pt;">Unsere Erfahrung im Fassadenbau und unsere speziell daf&uuml;r geschulten Spengler bieten Ihnen Sicherheit.</span></p>
        <p><span style="font-size: 14.0pt;">&nbsp;</span></p>
        <p>&nbsp;</p>
</center>

<style>

    .Fassadenbekleidung{

        font-size: 35px;


    }

</style>

<script>

</script>