<div class="HerstellerGas">
    <div class="row justify-content-center">
        <div class="col col-12 Yados"></div>

    </div>
</div>
<center>
    <p> <br> <b><u>Fernwärme – wie wird sie erzeugt, wo kommt sie her?</u></b> </br>
        Die Wärme wird zentral erzeugt. In Schwandorf geschieht dies durch die Verbrennung von Müll im Müllkraftwerk. Durch unterirdisch verlegte Rohrleitungen wird sie zu den angeschlossenen Gebäuden transportiert.
Im Haus ist eine Übergabestation erforderlich. Der Platzbedarf dafür ist gering. Der Aufstellungsraum kann auch noch anderweitig genutzt werden.

    

</br>
    <p>- - - - - - - - </p>

    </p> <b><u>Fernwärme - notwendige Überlegungen:</u></b> </br>
    Als Kunde ist man völlig von der Preisgestaltung des Anbieters abhängig. Es ist kein Wechsel möglich.
    Der Aufwand für Kunden- und Wartungsdienst ist geringer als bei anderen Heizsystemen. Es treten auch seltener Betriebsstörungen auf.
    Es ist kein Schornstein und damit auch kein Kaminkehrer erforderlich.
    Der Betrieb ist staubfrei und geruchlos.
    Bei einem Heizbetrieb mit Fernwärme können sämtliche Heizkörper-Modelle und selbstverständlich auch Fußbodenheizung verwendet werden.
</br>
  
    <p>- - - - - - - - </p>
    </p> <b><u>Fernwärme – und Umwelt:</u></b> </br>
    CO2 – und Feinstaub-Emissionen entstehen zwar nicht vor Ort, dafür aber im Kraftwerk.
Die Energieverluste auf dem Transportweg sind relativ hoch.

   
    </br>
    <p>- - - - - - - - </p>
    <p> <b><u>Fernwärme – und die Kosten:</u></b> </br>
        Die Anschaffungskosten sind in etwa gleich mit denen von Öl- und Gasheizungen.
        Zusätzliche Kosten entstehen durch den Anschluss an das Versorgungsnetz.
        Die anfallenden Heizkosten sind geringfügig höher als bei Gas und Öl.
        

    


</br>
<p>- - - - - - - - </p>
<p> <b><u>Fernwärme - und wir:</u></b> </br>
    Seit dem Start der Fernwärme arbeiten wir eng und gut mit der Wasser- und Fernwärme-Versorgung der Stadt Schwandorf zusammen.
    Die von uns verwendeten Übergabestationen sind qualitativ hochwertig und seit vielen Jahren erprobt. Unser Montage- und Service-Personal ist darauf bestens geschult.
    
    

</p>
</center>
<style>

    

</style>