<div class="SpenglerContainer">
    <div class="row justify-content-center">
        <div class="col col-12 Hochwasserschutz">
            <center>
                <p style="color: rgb(255, 40, 122);">Mobiler Hochwasserschutz</p>
            </center>

        </div>

    </div>
</div>
<center id="Ausfuerungtext" style="margin-top: 10px">
        <p><span style="font-size: 14pt;">Die Gefahr, dass Geb&auml;ude durch Hochwasser Schaden nehmen, w&auml;chst st&auml;ndig. Der nicht mehr aufzuhaltende Klimawandel und die damit verbundenen Naturkatastrophen l&ouml;sen immer h&auml;ufiger &Uuml;berschwemmungen aus.</span></p>
        <p><span style="font-size: 14pt;">Aufgrund zahlreicher Kundenanfragen haben wir uns intensiv mit dem von der Firma PREFA entwickelten Hochwasserschutz-System befasst. Dieser Schutz besteht aus Aluminium-Profilen und den seitlichen F&uuml;hrungsschienen. Aufgrund seines geringen Gewichts k&ouml;nnen die Schutzw&auml;nde &bdquo;blitzschnell&ldquo; aufgebaut werden, wenn Wassereinbruch droht. Dies kann eine Person problemlos - ohne fremde Hilfe - bew&auml;ltigen.</span></p>
        <p><span style="font-size: 14pt;">Wir haben einige sch&ouml;ne Objekte ausgef&uuml;hrt, die wir Ihnen bei Bedarf gerne zeigen.</span></p>
        <p><span style="font-size: 14.0pt;">Besonders geeignet ist dieser PREFA-Hochwasserschutz f&uuml;r Garagenabfahrten, Hauseing&auml;nge, Terrassent&uuml;ren und tief liegende Fenster.</span></p>
        <p><span style="font-size: 14.0pt;">Gerne besichtigen wir Ihr Objekt und unterbreiten Ihnen einen exakten Kostenvoranschlag.</span></p>
</center>

<style>

    .Hochwasserschutz{

        font-size: 35px;


    }

</style>

<script>

</script>