{% extends "HeaderFooter.html" %}



{% load static %}

{% block content %}
<html lang="en">

  <head>

    <!-- Jquery Einbindung - muss immer als erstes im head Stehen -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">


  </head>

  <body>

    <div class="container-fluid">
        <div class="row justify-content-center" style="background-color: rgb(46,51,56); padding: 20px; margin-top: 30px; color: white">
                <table style="margin-left: auto; margin-right: auto;" border="0" width="100%" cellspacing="0" cellpadding="0" >
                        <tbody style="color: white">
                        <tr>
                        <td id="dnn_ctr526_ContentPane" class="content1 DNNAlignleft">
                        <div id="dnn_ctr526_ModuleContent">
                        <div id="dnn_ctr526_HtmlModule_HtmlModule_lblContent" class="Normal">
                        <p>&nbsp;</p>
                        <p style="text-align: center;"><strong>Inhaltlich Verantwortlicher:<br /></strong><strong>Buchfink GmbH</strong><br />Gutenbergstr. 6<br />92421 Schwandorf</p>
                        <p style="text-align: center;">Telefon: +49 (0)9431 7431-0</p>
                        <p style="text-align: center;">Telefax: +49 (0)9431 7431-21</p>
                        <p style="text-align: center;">Email: <a href="mailto:kd@buchfink.de">kd@buchfink.de</a></p>
                        <p style="text-align: center;">Internet: www.buchfink.de</p>
                        <p style="text-align: center;"><strong>Rechtsform:<br /></strong>Gesellschaft mit beschr&auml;nkter Haftung (GmbH)<br />Gesch&auml;ftsf&uuml;hrer: Rainer Buchfink, Lampartstra&szlig;e1, 92421 Schwandorf<br />eingetragen im Handelsregister beim Registergericht in 92224 Amberg, Paulanerplatz 4,<br />Registriernummer: HRB 556<br />Sitz der GmbH: 92421 Schwandorf, Gutenbergstra&szlig;e 6</p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;"><strong>Umsatzsteuer-Identifikationsnummer:<br /></strong>gem&auml;&szlig; &sect; 27a Umsatzsteuergesetz: DE 1318 32 672<br /><br /></p>
                        <p style="text-align: center;"><strong>erlaubnispflichtige T&auml;tigkeiten:<br /></strong>Meisterpr&uuml;fungen Spenglerei und Sanit&auml;re Installation, verliehen von der Handwerkskammer Karlsruhe,<br />in Deutschland<br />Diplom-Ingenieur (FH) Versorgungstechnik, Fachhochschule M&uuml;nchen<br />staatlich gepr&uuml;fter Sanit&auml;r-und Heizungstechniker (Bundesfachschule Karlsruhe)<br />eingetragen in die Handwerksrolle am 13.11.1963, Betriebs-Nr. 5300368</p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;"><strong>Zust&auml;ndige Kammer:<br /></strong>Handwerkskammer f&uuml;r Niederbayern-Oberpfalz, 93055 Regensburg, Ditthornstra&szlig;e 10,<br />Telefon: 0941/7965-0, Fax: 0941/7965 222<br />Es gelten die folgenden&nbsp;<strong>berufsrechtlichen Regelungen</strong>&nbsp;in der jeweils g&uuml;ltigen Fassung:<br />Handwerksordnung (http://www.gesetze-im-internet.de/hwo/)<br /><strong>Mitglied</strong>&nbsp;bei der Innung Sanit&auml;r-und Heizungstechnik, 92421 Schwandorf,Charlottenhof</p>
                        <p style="text-align: center;"><strong>Berufshaftpflichtversicherung:<br /></strong>VHV Allgemeine Versicherung AG, VHV-Platz 1, 30177 Hannover, g&uuml;ltig f&uuml;r Deutschland/EU<br /><br /></p>
                        <p style="text-align: center;"><strong>Anwendbares Recht:<br /></strong>Das Recht der Bundesrepublik Deutschland</p>
                        <p style="text-align: center;"><strong>Gerichtsstand:<br /></strong>92421 Schwandorf</p>
                        <p style="text-align: center;"><strong>Au&szlig;ergerichtliches Streitschlichtungsverfahren:<br /></strong>Vermittlungsstelle der Handwerkskammer Niederbayern-Oberpfalz, 93055 Regensburg, Ditthornstra&szlig;e 10,<br />Telefon: 0941/7965-0, Fax: 0941/7965 222<br />Die Vermittlungsstelle ist gem&auml;&szlig; &sect; 91 Abs. 1 Nr.11 der Handwerksordnung zur Beilegung von Streitigkeiten<br />zwischen selbst&auml;ndigen Handwerkern und ihren Auftraggebern eingerichtet.</p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;"><strong>Preisangaben:<br /></strong>Informationen zu Preisen gem&auml;&szlig; &sect; 4 DL-InfoV erteilen wir gerne auf pers&ouml;nliche Anfrage.</p>
                        <p style="text-align: center;"><strong>Haftungshinweis:<br /></strong>Trotz sorgf&auml;ltiger inhaltlicher Kontrolle &uuml;bernehmen wir keine Haftung f&uuml;r die Inhalte externer Links.<br />F&uuml;r den Inhalt der verlinkten Seiten sind ausschlie&szlig;lich deren Betreiber verantwortlich.</p>
                        </div>
                        </div>
                        </td>
                        </tr>
                        </tbody>
                        </table>
        </div>
    </div>                   
     
    <div class="container">
            <div class="row">
                <div class="col-12 Platzhalter" style=" height: 150px"></div>
            </div>
        </div>
</style>

       
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
  </body>
  <style>
    

  </style>
</html>
{% endblock %}