<div class="IndustrieContainer">
    <div class="row justify-content-center">
        <div class="col col-12 IndustrieLueftung">
            <center>
                <p>Industrieelle Lüftung</p>
            </center>

        </div>

    </div>
</div>
<center id="Ausfuerungtext" style="margin-top: -10px">
        <br>
        <p>
                Sie benötigen eine Lüftung für eine gewerbliche oder industrielle Anwendung. Wir erstellen für die unterschiedlichsten Anforderungen
                Lüftungsanlagen, die auf Sie zugeschnitten sind.

        </p>
      

         <p>
                Von der einfachen Abluftanlage über Luftschleier bis hin zur Vollklimaanlage, bei welcher exakte Anforderungen an Temperatur und Feuchte eingehalten werden müssen.
                Wärmerückgewinnung und energiesparende EC-Lüftermotoren stehen dabei an erster Stelle.
         </p>

         <p>

                Wer an der Lüftung spart erhält ein schlechteres Arbeitsergebnis seiner Mitarbeiter, da schlechte Luft schnell zu Müdigkeit und Kopfschmerzen führt.

         </p>
      
      
    </br>

    <p></p>
</center>

<style>

    .IndustrieLueftung{

        font-size: 35px;


    }

</style>

<script>

</script>