<div class="HerstellerGas">
    <div class="row justify-content-center">
        <div class="col col-12 Beratung">
            <center>
            <p>1. Kompetente Beratung</p>
            </center>

        </div>

    </div>
</div>
<center style="margin-top: 10px">
        <span style="font-size: 14pt;">Bauen ist eines der gr&ouml;&szlig;ten Abenteuer im Leben und die Haustechnik spielt sowohl bei einem Neubau, als auch bei Erweiterung, Umbau oder Renovierung eine entscheidende Rolle.</span>
<p><span style="font-size: 14pt;">Hier ist es gut, einen kompetenten Partner mit viel Erfahrung an seiner Seite zu haben. Gilt es doch vor Baubeginn Entscheidungen zu treffen, die sich auch noch nach vielen Jahren als richtig erweisen sollen.</span></p>
<p><span style="font-size: 14.0pt;">Da ist die Frage ob man sich f&uuml;r eine moderne &Ouml;l- oder Gasheizung entscheiden soll, ob Pellets in Frage kommen &ndash; oder ob man Alternative Energien mit in die Planung einbezieht? Rechnet sich eine W&auml;rmepumpe und wie ist das mit Photovoltaik und Solarkollektoren &ndash; und ist eine Fu&szlig;bodenheizung besser als Heizk&ouml;rper? </span></p>
<p><span style="font-size: 14.0pt;">Wie wird das Badezimmer ausgestattet? Modern und zweckm&auml;&szlig;ig, oder darf es doch auch ein bisschen &bdquo;Luxus&ldquo; sein? Dusche oder Wanne &ndash; vielleicht Beides?</span></p>
<p><span style="font-size: 14.0pt;">Whirlpool, Dampfbad, Badezimmer-M&ouml;bel oder ein Aqua-Clean-WC. Es gibt viel zu besprechen.</span></p>
<p><span style="font-size: 14.0pt;">Auch &uuml;ber eine kontrollierte Wohnrauml&uuml;ftung sollte geredet werden und wie ist es mit einer K&uuml;hlung in den hei&szlig;en Sommermonaten?</span></p>
<p><span style="font-size: 14.0pt;">Vieles muss bei einem Beratungsgespr&auml;ch er&ouml;rtert werden, zum Beispiel auch, ob eine Zentrale Staubsaugeranlage gew&uuml;nscht wird. Deshalb nehmen wir uns f&uuml;r dieses Gespr&auml;ch viel Zeit. Wir haben die erfahrenen und kompetenten Berater, einen 4-Sterne-Ausstellungsraum &ndash; und freuen uns auf Sie. </span></p>
    <p></p>
</center>

<style>

    .Beratung{

        font-size: 35px;


    }




</style>