<div class="SpenglerContainer">
    <div class="row justify-content-center">
        <div class="col col-12 Metalldaecher">
            <center>
                <p style="color: rgb(255, 40, 122);">Metalldächer</p>
            </center>

        </div>

    </div>
</div>
<center id="Ausfuerungtext" style="margin-top: 10px">
        <p>Ein Dach zu decken war niemals einfach. Ein Dach aus Metall stellt jedoch h&ouml;chste Anspr&uuml;che an Planer und ausf&uuml;hrende Fachfirma. Die Verwendung von &bdquo;edlen&ldquo; Materialien, wie Kupfer, Titanzink, Farbaluminium oder nichtrostendem Edelstahl gew&auml;hrleistet eine lange Lebensdauer.</p>
        <p>&nbsp;</p>
        <p><strong><u>Metallbedachung in Stehfalztechnik</u></strong></p>
        <p>Bei dieser Ausf&uuml;hrungsart ist handwerkliches Geschick, verbunden mit dem Einsatz moderner Maschinen &ndash; gefragt. Besonders geeignet f&uuml;r komplizierte Dachformen und flachgeneigte D&auml;cher. Die verdeckte Befestigung durch Haften bietet keine Angriffspunkte und machen das Dach sicher gegen die immer h&auml;ufiger auftretenden St&uuml;rme. Wir haben im Verlauf unserer 120-j&auml;hrigen Firmengeschichte sehr viele Kircht&uuml;rme unter Verwendung der bew&auml;hrten Stehfalztechnik eingedeckt. Ein Stehfalzdach ist in der Regel eine Anschaffung f&uuml;r das ganze Leben.</p>
        <p>&nbsp;</p>
        <p><strong><u>Ein PREFA-Dach aus Leichtmetall</u></strong></p>
        <p>Wir waren vor einigen Jahrzehnten eine der ersten Firmen in der Oberpfalz, die sich mit dem Dachsystemen von PREFA befasst haben. Zwischenzeitlich sind unz&auml;hlige D&auml;cher mit Dachplatten, Dachschindeln oder Dachrauten von uns ausgef&uuml;hrt worden. Darunter auch gro&szlig;e Objekte, wie die Bahnh&ouml;fe in Straubing und Schwandorf.</p>
        <p>Besonders geeignet ist ein PREFA-Dach aus Leichtmetall f&uuml;r die Sanierung bestehender D&auml;cher, die bisher mit Wellasbest eingedeckt waren. Grund daf&uuml;r ist das geringe Gewicht, daher keine Verst&auml;rkung des Dachstuhl notwendig. Bei fachgerechter Ausf&uuml;hrung ist das PREFA-Dach absolut dicht, sturmsicher und durch die m&ouml;gliche Verwendung von zahlreichen Farben auch optisch sehr ansprechend.</p>
        <p>Sie finden bei uns eine Musterausstellung, wo wir Ihnen gerne die verschiedenen M&ouml;glichkeiten und die m&ouml;glichen Farben zeigen k&ouml;nnen.</p>
        <p>&Uuml;brigens: Wir k&uuml;mmern uns auch um die Ger&uuml;ststellung, die Zimmerer- und W&auml;rmed&auml;mm-Arbeiten und alle sonstigen, im Zusammenhang mit einer Dachsanierung, anfallenden Arbeiten und Leistungen.</p>
</center>

<style>

    .Metalldaecher{

        font-size: 35px;


    }

</style>

<script>

</script>