{% extends "HeaderFooter.html" %}



{% load static %}

{% block content %}
<html lang="en">

  <head>

    <!-- Jquery Einbindung - muss immer als erstes im head Stehen -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">


  </head>

  <body>

        <div class="container-fluid">
                <div class="row justify-content-center" style="background-color: rgb(46,51,56); padding: 20px; margin-top: 30px">
                    <div class="col col-12" style="color: white">
                        <center><p style="margin-top: 10px">Büro und Ausstellung</p></center>
                        <center>
                            <p style="font-size: 20px"><b>Montag bis Donnerstag:</b><br> 07:00 - 12:00 und 13:00 - 16:30 Uhr</p>
                            <p style="font-size: 20px"><b>Freitag:</b><br> 07:00 - 13:00 </p>
                            <p style="margin-top: -30px">________________________________</p>
                            <p>Technik</p>
                            <p style="font-size: 20px"><b>Montag bis Donnerstag:</b><br> 07:00 - 12:00 und 13:00 - 16:30 Uhr</p>
                            <p style="font-size: 20px"><b>Freitag:</b><br> 07:00 - 13:00 Uhr</p>
                            <p style="margin-top: -30px">________________________________</p>
                            <!--p>Notdienst</p>
                            <p style="font-size: 20px"><b>24 Std</b></p-->
                        </center>
                    </div>
                </div>
            </div>








<div class="container">
    <div class="row">
        <div class="col-12 Platzhalter" style=" height: 90px"></div>
    </div>
</div>

<style>


</style>

       
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
  </body>
  <style>
    

  </style>
</html>
{% endblock %}