<div class="PlanungBadsanierungContainer">
    <div class="row justify-content-center">
        <div class="col col-12 PlanungBadsanierung">
            <center>
                    <p style="color: rgb(255, 40, 122)">Nun folgt der dritte Schritt</p>
                    <p style="font-size: 20px; margin-top: -20px">Detaillierte Planung und Angebotserstellung</p>
                   
            </center>

        </div>

    </div>
</div>
<center id="Ausfuerungtext" style="margin-top: 10px">
    
        <p><span style="font-size: 14pt;">Alles ist besprochen und nun geht es an die Planung. Diese ist die unbedingte Voraussetzung f&uuml;r einen zutreffenden und bindenden Kostenvoranschlag.&nbsp;</span><span style="font-size: 14pt;">Ihr neues Bad wird zeichnerisch dargestellt, damit k&ouml;nnen alle anfallenden Leistungen exakt erfasst werden.</span></p>
        <p><span style="font-size: 14pt;">In unserem Kostenvoranschlag werden die vorgesehenen Materialien ausf&uuml;hrlich beschrieben, die Arbeitszeiten erfasst und auch die Nebengewerke wie Elektro, Fliesenleger und Maler nicht vergessen.</span></p>
        <p><span style="font-size: 14pt;">In diesem Angebot teilen wir Ihnen auch die voraussichtliche Dauer der Neugestaltung des Bades mit und stimmen mit Ihnen den Montagezeitpunkt ab.</span></p>
        
    </br>

    <p></p>
</center>

<style>

    .PlanungBadsanierung{

        font-size: 35px;


    }

</style>

<script>

</script>