<div class="PlanungContainer">
    <div class="row justify-content-center">
        <div class="col col-12 Planung">
            <center>
                <p>2. Detaillierte Planung und Angebotserstellung</p>
            </center>

        </div>

    </div>
</div>
<center style="margin-top: 10px">
        <p><span style="font-size: 14pt;">In einem ausf&uuml;hrlichen Gespr&auml;ch hat unser Berater Ihre W&uuml;nsche festgehalten. Nun geht es an die Planung. Dies geschieht auf der Grundlage der Baupl&auml;ne oder bei bestehenden Geb&auml;uden anhand unserer eigenen Feststellungen.</span></p>
        <p><span style="font-size: 14pt;">Ein Grundsatz bei der Firma Buchfink lautet: Ohne exakte Planung ist ein verbindlicher Kostenvoranschlag nicht m&ouml;glich.</span></p>
        <p><span style="font-size: 14pt;">Genau deshalb wird bei uns auch gezeichnet und berechnet, denn Sie sollen die Kosten f&uuml;r die Haustechnik vorher genau kennen &ndash; und nicht im Nachhinein unliebsame &Uuml;berraschungen erleben.</span></p>
        <p><span style="font-size: 14.0pt;">Unsere Kostenvoranschl&auml;ge sind &uuml;bersichtlich aufgebaut und die Leistungen ausf&uuml;hrlich beschrieben,</span></p>
        <p><span style="font-size: 14.0pt;">Selbstverst&auml;ndlich erl&auml;utert Ihnen unser Berater gerne dieses Angebot, sofern Sie noch Fragen haben.</span></p>
        <p><span style="font-size: 14.0pt;">Auch dar&uuml;ber sollte geredet werden: Beratung und Angebotserstellung sind selbstverst&auml;ndlich &ndash; trotz des erheblichen Aufwands - f&uuml;r Sie kostenlos und ohne weitere Verpflichtung.</span></p>
</center>

<style>

    .Planung{

        font-size: 35px;


    }

</style>

<script>

</script>