<div class="WartungContainer">
    <div class="row justify-content-center">
        <div class="col col-12 Wartung">
            <center>
                <p>4. Jahrelange Betreuung durch optimale Wartung</p>
            </center>

        </div>

    </div>
</div>
<center id="Wartungstext" style="margin-top: 10px">
        <p><span style="font-size: 14pt;">Ihr Bauvorhaben ist fertig gestellt und Sie sind hoffentlich gl&uuml;cklich und zufrieden. Alles ist neu und funktioniert super gut. Es bleibt zu hoffen, dass dies auch &uuml;ber einen langen Zeitraum so bleibt. Aber was ist, wenn nach relativ kurzer Zeit eine Erweiterung notwendig wird &ndash; oder wenn man aus irgendeinem Grund genau wissen muss, wo welche Leitungen verlaufen?</span></p>
        <p><span style="font-size: 14.0pt;">Auf Grund unserer exakten Planung ist es selbstverst&auml;ndlich, dass wir ausf&uuml;hrliche Planunterlagen unserer Schlussabrechnung beif&uuml;gen.</span></p>
        <p><span style="font-size: 14.0pt;">Unsere &bdquo;Registratur&ldquo; mit den Bauakten ist sehr gro&szlig;, wir k&ouml;nnen Ihnen also auch noch nach Jahren weiterhelfen.</span></p>
        <p><span style="font-size: 14.0pt;">Genau so wichtig ist eine regelm&auml;&szlig;ige, optimale Wartung. Immer mehr Elektronik und Digitalisierung sind mit Sicherheit gute Errungenschaften, aber auch diese m&uuml;ssen von Zeit zu Zeit gewartet werden. Wir unterhalten seit vielen Jahren einen perfekt funktionierenden Kunden- und Wartungsdienst.</span></p>
        <p><span style="font-size: 14.0pt;">Selbstverst&auml;ndlich k&ouml;nnen Sie mit uns auch bei - hoffentlich selten - auftretenden St&ouml;rungen fest rechnen. </span></p>
</center>

<style>

    .Wartung{

        font-size: 35px;


    }

</style>

<script>

</script>