<div class="HerstellerGas">
    <div class="row justify-content-center">
        <div class="col col-6 Viessmann"></div>
        <div class="col col-6 Buderus"></div>

    </div>
</div>


<center>
    <p> <br> <b><u>Heizöl und Umwelt</u></b> </br>
        Gebäude kann man umweltfreundlicher Beheizen als dies mit Heizöl der Fall ist.
        Zwar kann man die Schadstoffabgabe durch den Einsatz moderner Technologie, z.B. Brennwerttechnik, reduzieren, aber Erdgas,
        Pellets und Wärmepumpen gehen zweifellos schonender mit unserer Welt um.
    </p>
    <p>- - - - - - - - </p>
    <p> <b><u>Heizöl - wie lange reicht es noch?</u></b> </br>
        Ende des vorigen Jahrhunderts wurde errechnet, dass die bekannten Ölvorräte noch ca. 50 Jahre reichen werden. Es wurden zwischenzeitlich
        neue Ölfördergebiete erschlschlossen und die modernen Technologien haben den Verbrauch erheblich reduziert.</br>
    <p>- - - - - - - - </p>
    </p> <b><u>Heizöl und die Zukunft</u></b> </br>
    "Ein tatsächliches Ende kann niemand vorhersagen. Fest steht aber, dass sich die Ölvorräte ständig verringern. Es ist denkbar, dass die Steuern
    und Abgaben weiter erhöht werden, um die Umweltbelastung in Grenzen zu halten.
    </br></br>
    <p>- - - - - - - - </p>
    </p> <b><u>Heizöl und die Technik</u></b> </br>
    Wir haben uns entschlossen, nur noch Heizgeräte der Firma BUDERUS oder VIESSMANN einzubauen. Wir wollen unseren Kunden
    Spitzenprodukte bieten, die sich stets auf dem neusten Stand er technischen Entwicklung befinden. Unsere Kundendienst-Techniker
    werden für diese Geräte in regelmäßigen Abständen geschult.
    </br>
    </br>
    <p>- - - - - - - - </p>
    <p> <b><u>Heizöl und die Kosten</u></b> </br>
        Wir sind der Ansicht, dass in der Zukunft "Grüne Technologien" preislich die Nase vorn haben werden. Allerdings hat man beim Öl die
        Chance, durch die Wahl eines günstigen Kaufdatums und durch Preisvergleiche, zu sparen.
        Selbstverständlich sind auch alle modernen Technologien, wie Brennwerttechnik, Solarthermie usw. in Verbindung mit einem ölbeheizten
        Heizkessel möglich.

    </p>
</center>

<style>

</style>