<div class="HerstellerGas">
    <div class="row justify-content-center">

        <div class="col col-12 Eta"></div>

    </div>
</div>



<center>
    <p> <br> <b><u>Pellets und Umwelt</u></b> </br>
      Holz ist ein nachwachsender Rohstoff, welcher in ausreichender Menge auch in Deutschland verfügbar ist. Jährlich wachsen in
        deutschen Wäldern 120 Millionen Kubikmeter Holz nach, davon werden nur 70 Millionen genutzt. Die Versorgungssicherheit
        dürfte also kein Problem sein.
    </p>
    <p>- - - - - - - - </p>
    <p> <b><u>Pellets - der Staat zahlt mit</u></b> </br>
       Die Anschaffung einer Pellets-Heizung ist deutlich teuerer als ein Heizsystem welches mit Öl oder Gas befeuert wird.
        Es gibt jedoch Fördergelder als Kredit oder Zuschuss von der Bundesanstalt für Wirtschaft und Ausfuhrkontrolle (BAFA)
        und von der Staatlichen Kreditanstalt für Wiederaufbau (KfW-Bank)
        </br>
    <p>- - - - - - - - </p>
    </p> <b><u>Heizöl und die Zukunft</u></b> </br>
    "Ein tatsächliches Ende kann niemand vorhersagen. Fest steht aber, dass sich die Ölvorräte ständig verringern. Es ist denkbar, dass die Steuern
    und Abgaben weiter erhöht werden, um die Umweltbelastung in Grenzen zu halten.
    </br></br>
    <p>- - - - - - - - </p>
    </p> <b><u>Pellets - Lagerung und Betrieb</u></b> </br>
    Eine Pellets-Heizung funktioniert vollautomatisch. Die bei der Verbrennung anfallende Asche muss regelmäßig entfernt werden.
    Es fällt auch ein höherer Wartungs- und Reinigungsaufwand an. Die Pellets-Lagerung erfordert mehr Platz als ein Öltank für die gleiche
    Wärmeleistung
    </br>
    </br>

    <p>- - - - - - - - </p>
    <p> <b><u>Pellets - und die Technik</u></b> </br>
        Für unsere Pellets-Anlagen bauen wir nur Heizgeräte der Firma ETA ein. Wir wollen unseren Kunden
        Spitzenprodukte bieten, die sich stets auf dem neusten Stand er technischen Entwicklung befinden. Unsere Kundendienst-Techniker
        werden für diese Geräte in regelmäßigen Abständen geschult.
    </p>
    <p>- - - - - - - - </p>
    </p> <b><u>Pellets - und die Kosten</u></b> </br>
    Sieht man einmal von den Anschaffungskosten ab, handelt es sich bei Pellets um einen preislich günstigen Brennstoff. Durch Preisvergleiche beim
    Einkauf sind weitere Einsparungen möglich. Eine Pellets-Heizung ist gut mit Solarenergie kombinierbar.
    </br>
    </br>

</center>

<style>


</style>