<div class="HerstellerGas">
    <div class="row justify-content-center">

        <div class="col col-12 Novelan"></div>

    </div>
</div>



<center>
    <p> <br> <b><u>Wärmepumpen – wichtig zu wissen:</u></b> </br>
        Bei einer Wärmepumpe findet keine Verbrennung statt. Genutzt wird die
Umweltwärme rund ums Haus. Sie kommt aus der Umgebungsluft, aus dem
Erdreich oder aus dem Grundwasser. Durch einen Wärmetauscher wird die
für Raumheizung und Warmwasserbereitung notwendige Temperatur erreicht.

    </p>
    <p>- - - - - - - - </p>
    <p> <b><u>Wärmepumpen - und die notwendigen Voraussetzungen:</u></b> </br>
        Ein wirtschaftlicher Betrieb ist nur bei hohem Dämmstandard erreichbar.
Die Beheizung des Hauses sollte ausschließlich mit einer Fußbodenheizung 
erfolgen.
Welches Heizmedium soll verwendet werden? Bei der am meisten eingebauten Luftwärmepumpe ist der Aufstellungsort kein Problem. Bei den Wasserwärme-
pumpen muss der Grundwasserstand, bzw. die zur Verfügung stehende Fläche für Erdkollektoren, geprüft werden.
</br>


    <p>- - - - - - - - </p>
    </p> <b><u>Wärmepumpen – und ihre Vorteile:</u></b> </br>
    Sie brauchen keinen Lagerraum.
Sie brauchen keinen Schornstein und damit auch keinen Kaminkehrer.

    </br></br>
    <p>- - - - - - - - </p>
    </p> <b><u>Wärmepumpen – aber auch über Nachteile sollte man reden:</u></b> </br>
    Der Wirkungsgrad ist abhängig von der Temperatur des Heizmediums. Fällt die
    Außentemperatur ist öfter ein „Nachheizen“ mit Strom notwendig. Das geht dann ins Geld.
    CO2 neutral ist der Betrieb einer Wärmepumpe nur dann, wenn er ausschließlich
    mit Öko-Strom erfolgt.
    
    </br>
    </br>
    <p>- - - - - - - - </p>
    <p> <b><u>Wärmepumpen - und wir:</u></b> </br>
        Wir haben die Entwicklung von Anfang an mitgemacht. Schon vor vielen Jahren
        montierten wir Wärmepumpen in Wohnhäusern am Steinberger See. Das Heizmedium war Wasser aus siebzig Metern Tiefe. Die hierbei gewonnenen Er-
        kenntnisse – einschl. der Kinderkrankheiten – waren und sind für uns noch immer sehr wertvoll.
        Heute ist die Technik ausgereift und störungsfrei. Darüber hinaus sind unsere
        Monteure bestens geschult und werden laufend weitergebildet.
        

    </p>
</center>

<style>


</style>