<div class="HerstellerGas">
    <div class="row justify-content-center">

        <div class="col col-12 Dachs"></div>

    </div>
</div>


   
<center>
    <p> <br> <b><u>Blockheizkraftwerk – was ist das eigentlich?</u></b> </br>
        Ein BHKW ist eine effiziente, stromproduzierende Heizung. Es liefert gleichzeitig Strom und Wärme. Dieses Prinzip ist auch als Kraft-Wärme-Kopplung bekannt. Als Brennstoff können Öl, Gas, Pellets usw. eingesetzt werden.
    </p>
    <p>- - - - - - - - </p>
    <p> <b><u>Blockheizkraftwerk -  wo geeignet?</u></b> </br>
    Es gilt der Grundsatz, je größer die erzeugte Leistung, desto rentabler die Anschaffung. Deshalb ist ein BHKW ideal für Objekte mit hohem Wärme- und Stromverbrauch, z.B. Gewerbetriebe wie Metzgereien oder Bäckereien, sowie für größere Wohnobjekte, hier wären ein Schwimmbad oder ein Gewächshaus von Vorteil. Lange Laufzeiten erhöhen die Rendite, der Wirkungsgrad kann dann bis zu 90% betragen. Neuerdings sind auch sogenannte Mini-Blockheizkraftwerke für kleinere Objekte auf dem Markt, hier muss man allerdings mit einer kleineren Rendite und einem niedrigeren Wirkungsgrad zufrieden sein.
    Die energetische Sanierung und die Dämmung eines Hauses spielen beim Einsatz eines BHKW nicht mehr die entscheidende Rolle.
    
    </br></br>
    <p>- - - - - - - - </p>
    </p> <b><u>Blockheizkraftwerk – die Vorteile:</u></b> </br>
    Bei richtiger Auslegung und geeignetem Einsatzbereich ist ein BHKW zweifellos wirtschaftlich rentabel.
    Staatlich garantierte Subventionen für die Anschaffung und für die Einspeisung des überschüssigen Stroms tragen zur Rendite des BHKW bei.
    Der CO2-Austsoss liegt durch die Kraft-Wärme-Kopplung etwa ein Drittel niedriger, als bei getrennter Wärme- und Stromgewinnung.
    Der Strom wird selbst produziert, deshalb muss weniger Strom aus dem Netz zugekauft werden.
    Ein BHKW ist unabhängig von Wind, Wetter und Sonne.
    
    </br>
    </br>
    <p>- - - - - - - - </p>
    <p> <b><u>Blockheizkraftwerk –  es gibt auch Nachteile:</u></b> </br>
        Der Anschaffungspreis ist höher als bei Öl-, Gas- oder Pellets-Heizungen.
        Es ist eine hohe Laufleistung erforderlich, sonst entsteht – vor allem in den wärmeren Monaten – ein Überschuss an Wärme.
        Die Rendite ist, wie bei allen anderen Brennstoffen, abhängig vom Rohstoffpreis
        Regelmäßiger Kunden- und Wartungsdienst ist notwendig. Dieser muss vom Service des Herstellers durchgeführt werden und ist deshalb relativ teuer.
        

    </br></br>
    <p>- - - - - - - - </p>
    </p> <b><u>Blockheizkraftwerke - und wir:</u></b> </br>
    Schon vor Jahren haben wir Blockheizkraftwerke in die von uns gebauten Heizungsanlagen integriert. In unserem Betriebsgebäude ist ein BHKW schon jahrelang problemlos im Einsatz.
    Natürlich dient es uns auch als Vorzeige- und Schulungsobjekt. Damit wissen wir bei Störungen genau, woran es liegt und was zu tun ist.
    
    
    </br>
</center>


<style>

  

</style>