<div class="HerstellerGas">
    <div class="row justify-content-center">
        <div class="col col-6 Buderus"></div>
        <div class="col col-6 Viessmann"></div>
    </div>
</div>
        <center>
            <p> <br> <b><u>Gas und Umwelt</u></b> </br>
            Zweifellos ist die Wahl von Gas als Brennstoff eine gute Entscheidung für die Umwelt. Die
            Verbrennung ist schadstoffarm, Kohlendioxid und Feinstaub fallen nur in ganz geringen Mengen an.
           </p>
            <p>- - - - - - - - </p>
            <p> <b><u>Gas und Verfügbarkeit</u></b> </br>
                Das Leitungsnetz ist europaweit ausgebaut, für Engpässe gibt es zahlreiche Gasspeicher. Der Transport
                mit Rohrleitungen ist risikoarm. </br>
            <p>- - - - - - - - </p>
            </p> <b><u>Gas im Haus</u></b> </br>
            "Aber Gas im Haus ist doch gefährlich!" Diesen Satz hören wir immer wieder, Selbstverständlich birgt Gas ein Gefahrenpotential.
            Unbedingte Voraussetzung ist dehalb die Montage durch einen erfahrenen, zugelassenen Fachbetrieb mit der entsprechenden Erfahrung,
            sowie die jährliche Wartung und Überprüfung.
            </br></br>
            <p>- - - - - - - - </p>
            </p> <b><u>Gas und die Technik</u></b> </br>
            Wir haben uns entschlossen, nur noch Heizgeräte der Firma BUDERUS oder VIESSMANN einzubauen. Wir wollen unseren Kunden
            Spitzenprodukte bieten, die sich stets auf dem neusten Stand er technischen Entwicklung befinden. Unsere Kundendienst-Techniker
            werden für diese Geräte in regelmäßigen Abständen geschult.</br>
            </br>
            <p>- - - - - - - - </p>
            <p> <b><u>Gas und die Kosten</u></b> </br>
                Ein ehrliches Wort: Zu den billigsten Brennstoffen gehört Gas nicht. Aber dafür zu den problemlosesten. Durch Einsatz der
                Brennwerttechnik und die Wahl des richtigen Anbieters kann man erheblich sparen. Auch der Wegfall eines Lagerraumes sollte berücksichtigt werden.

            </p>
        </center>

<style>


</style>