{% extends "HeaderFooter.html" %} {% load static %} {% block content %}
<html lang="en">

<head>

    <!-- Jquery Einbindung - muss immer als erstes im head Stehen -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
        crossorigin="anonymous">


</head>

<body>

    <div class="contain-fluid">
        <div class="row jutisfy-content-center" style="background: rgb(46,51,56); margin-top: 20px; padding: 20px; margin-right: 0px">
            <div class="col-12" style="text-align: center; color: white">
                <h2>Wir stellen sofort ein!</h2>
            </div>


            <a class="col-xs-6 col-lg-3" >
                <div class="col-12 Cards container-fluid">
                    <div class="row">
                        <div class="col-12 Bild">

                        </div>
                        <div class="col-12 Text">
                            </br>
                            <span>
                                <h3>Spengler</h3>
                            </span>

                            <hr style="background-color: white">

                            <p style="color: #e93b6f ">Anforderungsprofil:</p>

                            <span>
                                <ul style="text-align: left">
                                    <li>selbstständig arbeitend</li>
                                    <li>Teamfähig</li>
                                    <li>Führerschein Klasse B (Auto)</li>
                                    <li>Liebe zum Detail</li>
                                </ul>
                            </span>

                            <hr style="background-color: white">

                            <p style="color: #e93b6f ">Das bieten wir:</p>

                            <span>
                                <ul style="text-align: left">
                                    <li>sehr gute Bezahlung einschl. zusätzlichem Urlaubs- und Weihnachtsgeld</li>
                                    <li>eigenes Einsatzfahrzeug</li>
                                    <li>sehr gutes Betriebsklima</li>
                                    <li>geregelte Arbeitszeiten(sehr wenig Überstunden bis garkeine!)</li>
                                    <li>großen und langjährigen Kundenstamm</li>
                                    <li>regelmäßige Teambuildingmaßnahmen um das harmonisches Miteinander zu stärken</li>
                                </ul>
                                
                            </span>
                            
                                
                         
                        </div>
                    </div>
                    
                </div>    
                
            </a>

    <a class="col-xs-6 col-lg-3">
        <div class="col-12 Cards container-fluid">
            <div class="row">
                <div class="col-12 Bild2">

                </div>
                <div class="col-12 Text">
                    </br>
                    <span>
                        <h3>Heizungsmonteur</h3>
                    </span>

                    <hr style="background-color: white">

                    <p style="color: #e93b6f ">Anforderungsprofil:</p>

                    <span>
                        <ul style="text-align: left">
                            <li>selbstständig arbeitend</li>
                            <li>Teamfähig</li>
                            <li>Führerschein Klasse B (Auto)</li>
                        </ul>
                    </span>

                    <hr style="background-color: white">

                    <p style="color: #e93b6f ">Das bieten wir:</p>

                    <span>
                        <ul style="text-align: left">
                            <li>sehr gute Bezahlung einschl. zusätzlichem Urlaubs- und Weihnachtsgeld</li>
                            <li>eigenes Einsatzfahrzeug</li>
                            <li>sehr gutes Betriebsklima</li>
                            <li>geregelte Arbeitszeiten(sehr wenig Überstunden bis garkeine!)</li>
                            <li>großen und langjährigen Kundenstamm</li>
                            <li>regelmäßige Teambuildingmaßnahmen um das harmonisches Miteinander zu stärken</li>
                        </ul>
                    </span>

                </div>
            </div>
        </div>
    </a>

    <a class="col-xs-6 col-lg-3">
        <div class="col-12 Cards container-fluid">
            <div class="row">
                <div class="col-12 Bild3">

                </div>
                <div class="col-12 Text">
                    </br>
                    <span>
                        <h3>Sanitärmonteur</h3>
                    </span>

                    <hr style="background-color: white">

                    <p style="color: #e93b6f ">Anforderungsprofil:</p>

                    <span>
                        <ul style="text-align: left">
                            <li>selbstständig arbeitend</li>
                            <li>Teamfähig</li>
                            <li>Führerschein Klasse B (Auto)</li>
                        </ul>
                    </span>

                    <hr style="background-color: white">

                    <p style="color: #e93b6f ">Das bieten wir:</p>

                    <span>
                        <ul style="text-align: left">
                            <li>sehr gute Bezahlung einschl. zusätzlichem Urlaubs- und Weihnachtsgeld</li>
                            <li>eigenes Einsatzfahrzeug</li>
                            <li>sehr gutes Betriebsklima</li>
                            <li>geregelte Arbeitszeiten(sehr wenig Überstunden bis garkeine!)</li>
                            <li>großen und langjährigen Kundenstamm</li>
                            <li>regelmäßige Teambuildingmaßnahmen um das harmonisches Miteinander zu stärken</li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </a>

    <a class="col-xs-6 col-lg-3">
        <div class="col-12 Cards container-fluid">
            <div class="row">
                <div class="col-12 Bild4">

                </div>
                <div class="col-12 Text">
                    </br>
                    <span>
                        <h3>Kundendienstmonteur </h3>
                    </span>

                    <hr style="background-color: white">

                    <p style="color: #e93b6f ">Anforderungsprofil:</p>

                    <span>
                        <ul style="text-align: left">
                            <li>selbstständig arbeitend</li>
                            <li>Teamfähig</li>
                            <li>Freude im Umgang mit Kunden</li>
                            <li>Führerschein Klasse B (Auto)</li>
                        </ul>
                    </span>

                    <hr style="background-color: white">

                    <p style="color: #e93b6f ">Das bieten wir:</p>

                    <span>
                        <ul style="text-align: left">
                            <li>sehr gute Bezahlung einschl. zusätzlichem Urlaubs- und Weihnachtsgeld</li>
                            <li>eigenes Einsatzfahrzeug</li>
                            <li>sehr gutes Betriebsklima</li>
                            <li>geregelte Arbeitszeiten(sehr wenig Überstunden!)</li>
                            <li>großen und langjährigen Kundenstamm</li>
                            <li>regelmäßige Teambuildingmaßnahmen um das harmonisches Miteinander zu stärken</li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
       
    </a>

    
    <div id="Bewerbung" class="col-12" style="color: white; text-align: center; margin-top: 20px; ">
           
           <h2>Jetzt hier sofort innerhalb 2 Minuten online bewerben!</h2>
        </div>

    <div class="col-12 col-md-6 offset-md-3">
            <form method="post" action="" style="color: white">

            {% csrf_token %}

                


                    <div class="col-12 col-md-12 name" style="margin-top: 10px">

                        <label class="col-12 label" style="margin-left: -15px">Vorname & Nachname
                            <span class="required">*</span>
                        </label>
                        <input name="firstname" class="col-6 inputtext" maxlength="255" placeholder="Vorname" />



                        <input name="lastname" class="col-5 inputtext" maxlength="255" placeholder="Nachname" />


                    </div>
                    <div class="col-12 streetname">
                        <label class="label" style="margin-top: 5px">Straße
                            <span class="required">*</span>
                        </label>
                        <input name="streetname" class="col-11 inputtext" type="text" maxlength="255" size="35" placeholder="Straße" />
                    </div>
                    <div class="col-12 plz">
                        <label class="label" style="margin-top: 5px">Postleitzahl
                            <span class="required">*</span>
                        </label>
                        <input name="plz" class="col-11 inputtext" type="text" maxlength="255" size="35" placeholder="Postleitzahl" />
                    </div>
                    <div class="col-12 ort">
                        <label class="label col-12" style="margin-top: 5px; margin-left: -15px">Ort
                            <span class="required">*</span>
                        </label>
                        <input name="ort" class="col-11 inputtext" type="text" maxlength="255" size="35" placeholder="Ort" />
                    </div>
                    
                    <div class="col-12 telefon">
                        <label class="label" style="margin-top: 5px">Telefonnummer
                            <span class="required">*</span>
                        </label>
                        <input name="telefon" class="col-11 inputtext" type="text" maxlength="255" size="35" placeholder="Telefonnummer" />
                    </div>
                    <div class="col-12 email">
                            <label class="label" style="margin-top: 5px">Email Addresse  <span class="required">*</span></label>
                            <input  name="email" class="col-11 inputtext" type="text" maxlength="255" size="35" placeholder="Email-Adresse"  /> 
                          </div>
                    <div class="col-12 subject">
                        <label class="label" style="margin-top: 5px">Betreff
                            <span class="required">* (Bitte auswählen)</span>
                        </label>
                       
                        <select name="subject" class="col-11 inputtext" style="border: solid 2px white">
                                <option value="Bewerbung als Spengler">Bewerbung als Spengler</option>
                                <option value="Bewerbung als Heizungsbauer und/oder Sanitärmonteur">Bewerbung als Heizungsbauer und/oder Sanitärmonteur</option>
                                <option value="Bewerbung als Kundendienstler">Bewerbung als Kundendienstler</option>
                                
                              </select>
                    </div>
                    <div class="botcheck sr-only">
                            <label class="label">You must answer <u>YES</u> to the question below to<br /> approve sending this email.  <span class="required">*</span></label>
                                Do you want to send me an email? <input name="botcheck" class="inputtext" type="text" maxlength="5" size="5" value="YES" />
                            </div>

                    <div class="col-12 message">
                        <label class="label" style="margin-top: 5px">Nachricht
                            <span class="required">*</span>
                        </label>
                        <textarea name="message" class="col-11 inputtextarea" rows="11" cols="45" placeholder="Was möchten Sie uns noch mitteilen? (z.B. am besten telefonisch erreichbar ab 14:00 Uhr.. )"></textarea>
                    </div>
                 
                    

                    <div class="col-12 button">
                        <input style="cursor: pointer; margin-top: 15px" id="submit" class="submitform" type="submit" name="submitform"
                            value="Bewerbung jetzt abschicken" />
                    </div>

                </form>
    </div>



    </div>
    </div>





    <div class="container">
        <div class="row">
            <div class="col-12 Platzhalter" style=" height: 90px"></div>
        </div>
    </div>

<script>
    $("#jetztBewerben").click(function() {
        $("html, body").animate({ scrollTop: $(document).height() }, "slow");

    });​
</script>
   

    <style>
        .Cards {

            border: solid 1px white;
            background: rgb(46, 51, 56);
            margin-top: 30px;


        }

        .Bild {
            height: 180px;


            background: url(' {% static "/Website/Images/spengler.jpg" %} ') center no-repeat;
            background-size: cover;
        }

        .Bild2 {
            height: 180px;


            background: url(' {% static "/Website/Images/heizungmonteur.jpg" %} ') center no-repeat;
            background-size: cover;
        }

        .Bild3 {
            height: 180px;


            background: url(' {% static "/Website/Images/sanimonteur.JPG" %} ') center no-repeat;
            background-size: cover;
        }

        .Bild4 {
            height: 180px;


            background: url(' {% static "/Website/Images/kundendienst.jpg" %} ') center no-repeat;
            background-size: cover;
        }

        .Text {
            text-align: center;

            color: white;
            font-size: 15px;
        }
    </style>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>
</body>
<style>
</style>

</html>
{% endblock %}