<div class="WohlfuehlenContainer">
    <div class="row justify-content-center">
        <div class="col col-12 WohlfuehlenBadsanierung">
            <center>
                    <p style="color: rgb(255, 40, 122)">Der letzte Schritt – nur noch genießen</p>
                    <p style="font-size: 20px; margin-top: -20px">Grenzenloses Badevergnügen und Wellness im eigenen Zuhause</p>
                   
            </center>

        </div>

    </div>
</div>
<center id="Ausfuerungtext" style="margin-top: 10px">
        <p><span style="font-size: 14pt;">Sie haben Ihr Ziel erreicht und k&ouml;nnen sich nun uneingeschr&auml;nkt an Ihrem neuen Bad erfreuen.</span></p>
        <p><span style="font-size: 14.0pt;">Wir von der Buchfink GmbH freuen uns mit Ihnen und w&uuml;nschen, dass Sie viele sch&ouml;ne und entspannende Momente in dieser &bdquo;Wohlf&uuml;hl-Oase&ldquo; erleben d&uuml;rfen.</span></p>
        <p><span style="font-size: 14.0pt;">&Uuml;brigens, selbstverst&auml;ndlich sind wir auch nach Beendigung unserer Arbeiten mit Rat und Tat f&uuml;r Sie da.</span></p>
        <p><span style="font-size: 14.0pt;">Es bleibt jetzt nur noch, dass wir uns f&uuml;r das der Firma Buchfink entgegengebrachte Vertrauen &ndash; in Verbindung mit einem kleinen, passenden Geschenk </span><span style="font-size: 14.0pt;">recht herzlich bedanken. </span></p>
</center>

<style>

    .WohlfuehlenBadsanierung{

        font-size: 35px;


    }

</style>

<script>

</script>