<div class="WohnraumlueftungContainer">
    <div class="row justify-content-center">
        <div class="col col-12 Wohnraumlueftung">
            <center>
                <p>Wohnraumlüftung</p>
            </center>

        </div>

    </div>
</div>
<center id="Ausfuerungtext" style="margin-top: -10px">
    <br>
    <p>
            In der Vergangenheit haben Winddruck und kleine Undichtigkeiten an den Fenstern die Luft in einem Raum ungefähr alle 2 Stunden 1 x ausgetauscht. Neue Fenster sind nahezu vollständig dicht. Zwar gibt es den einen oder anderen Fensterhersteller, der über verstellbare Lüftungsschlitze den Luftaustausch wieder herstellt – der Energiespareffekt dieser neuen Fenster ist aber dann nicht mehr so groß.
    </p>

    <p>
            Die bessere Lösung ist die kontrollierte Wohnraumlüftung mit Wärmerückgewinnung – Kurz KWL genannt.
    </p>

    <p>
            <b>5 Gründe für gute Luft im Haus:</b>
    </p>

    <ol>
    <li>
            Gesundheit 1:
            Viele Haushaltsgegenstände, Möbel und Teppiche, sondern auch noch Monate nach dem Kauf Gerüche und Substanzen ab, die nicht gut für die Gesundheit sind. Auch führt verbrauchte Luft zu Müdigkeit und Kopfschmerzen. Um für genügend Luftwechsel zu sorgen, müsste man alle 2 Stunden die Fenster für 5-10 Minuten komplett öffnen. Das ist vor allem im Winter sicher unangenehm und nervig. Eine KWL Anlage übernimmt das für Sie und zwar ohne Zugerscheinungen.
    </li>
    <p>- - -</p>
    <li>
            Energieeinsparung:
            Im Winter wird der Abluft vor dem Verlassen des Hauses die Wärme entzogen und die Zuluft damit erwärmt (über 90% Energierückgewinnung). Das spart bis zu 50 % Heizkosten, vor allem gegenüber stundenlang gekippten Fenstern. Sicherlich benötigen die beiden Ventilatoren im KWL-Gerät Strom – jedoch sind diese modernen EC Ventilatoren auf Energiesparen getrimmt und die eingesparte Heizenergie wiegen den Mehrverbrauch von Strom mehrfach auf. Nicht umsonst haben fast alle KWL-Geräte das Energielable A oder A+. Eine KWL Anlage sorgt auch für ein Plus auf Ihrem Energieausweis und spart Ihnen Geld bei der Stärke der Außendämmung – denn das Verhältnis von Kosten zu Nutzen wird bei der Außendämmung mit zunehmender Stärke immer schlechter.
    </li>
    <p>- - -</p>
    <li>
            Gesundheit 2:
            Nicht nur im Winter ist eine KWL-Anlage von Vorteil. Die eingebrachte Luft wird, bevor Sie in den Wohnraum gelangt, gefiltert. Milben, Pollen oder Staub werden so ausgefiltert und helfen vor allem Allergikern die Frühjahrszeit entspannter zu genießen.
            Im Hochsommer sorgt die optionale sog. freie Nachtkühlung durch eine Umgehung des Wärmetauschers dafür, dass kühle Nachtluft in das Gebäude transportiert wird.
    </li>

    <p>- - -</p>
    <li>

Lärm und Einbruch
Mit einer KLW-Anlage können Fenster geschlossen bleiben – Lärm und Staub bleiben draußen. Oft erfolgt ein Einbruch über offene oder gekippte Fenster. Auch kann man mit einer KWL-Anlage – vor allem im Erdgeschoß – mehr feststehende Fenster verwenden – das spart Geld beim Fensterkauf und auch der Einbrecher hat es bei solchen Fenstern extrem schwer.
    </li>

    <p>- - -</p>
    <li>Gesundheit 3:
            Ein 4-Personen Haushalt produziert täglich rund 15 Liter Wasserdampf. Wenn nicht ausreichend gelüftet wird, kondensiert dieser Wasserdampf an den kältesten Stellen des Hauses und führt zu Schimmelbildung.
    </li>
<p></p>
        <p>
                Wenn wir Sie überzeugen konnten und Sie einen Neubau planen reden Sie vor Baubeginn mit uns – denn oft können die Lüftungsrohre unsichtbar in der Rohrdecke einbetoniert werden.
        </p>
        </ol>
    </br>

    <p></p>
</center>

<style>

    .Wohnraumlueftung{

        font-size: 35px;


    }

</style>

<script>

</script>